* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.main {
    margin: 10px auto;
}
.sec-head {
    width: 400px;
    height: 50px;
    margin: 50px auto;
    color: rgb(8, 8, 114);
    text-align: center;
    border-bottom: 1px solid #777;
}
.main .about-us,
.main .our-schedule, 
.main .latest-news, 
.main .photos {
    width: 75vw;
    margin: auto;
}
.main .header {
    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 5px;
    z-index: 1000;
}
.main .logo img {
    width: 25px;
    margin: 10px;
}
.header nav {
    width: 600px;
    height: 100%;
}
.header nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.header nav ul li {
    width: 150px;
    height: 100%;
}
.header nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 7vh;
    color: white;
}
.header nav ul li:hover a {
    background-color: rgb(255, 166, 0);
    color: green;
}
.main .icon {
    width: 80px;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
    position: fixed;
    top: 250px;
    left: -50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 999;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.main .icon:hover {
    left: -10px;
}
.main .home {
    height: 75vh;
    background-color: yellow;
}
.main .home .homeimage {
    height: 500px;
    background: url(../images/banner.jpg) no-repeat center/100%;
    clip-path: circle(50.4% at 50% 5%);
}
.main .menu {
    width: 85%;
    margin: auto;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.main .menu .squash {
    background: url(../images/squashacademy.jpg) no-repeat center/100%;
}
.main .menu .tennis {
    background: url(../images/tennisacademy.jpg) no-repeat center/100%;
}
.main .menu .swimming {
    background: url(../images/swimmingacademy.jpg) no-repeat center/100%;
}
.main .menu .football {
    background: url(../images/footballacademy.jpg) no-repeat center/100%;
}
.main .menu :is(.squash, .swimming, .tennis, .football) {
    width: 250px;
    height: 180px;
    position: relative;
    top: -50px;
    border: 2px solid orange;
    border-radius: 5px;
    transition: 1s;
}
.main .menu .circle {
    width: 250px;
    height: 180px;
    font-size: 25px;
    background: orange;
    clip-path: circle(0% at 0% 0%);
    transition: 0.25s;
}
.main :is(.squash, .swimming, .tennis, .football):hover .circle
{
    clip-path: circle(60% at 0% 0%);
}
/* .main .squash:hover .circle{
    clip-path: circle(60% at 0% 0%);
}
.main .swimming:hover .circle{
    clip-path: circle(60% at 0% 0%);
}
.main .tennis:hover .circle{
    clip-path: circle(60% at 0% 0%);
}
.main .football:hover .circle{
    clip-path: circle(60% at 0% 0%);
} */
.about-us {
    height: 60vh;
}
.about-us .container1 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}
.about-us .container1 .text {
    width: 600px;
    color: rgb(8, 8, 114);
}
.about-us .container1 .text h4 {
    font-size: 22px;
}
.about-us .container1 .text h4:last-of-type {
    margin-bottom: 20px;
}
.about-us .container1 .text p {
    margin-top: 20px;
    padding-left: 15px;
}
.about-us .container1 .wadi {
    width: 400px;
    height: 200px;
    background: url(../images/about.jpg) no-repeat center/100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clip-path: circle(100%);
    transition: 1s;
    -webkit-transition: all 0.1s;
}
.about-us .container1 .wadi:hover {
    clip-path: circle(30% at 50% 50%);
    opacity: 0.7;
}
.container2  {
    width: 1100px;
    margin-bottom: 30px;
    height: 200px;
    line-height: 30px;
    margin: auto;
}
.container table { 
    width: 1200px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}
.container2 tr .odd {
    background: white;
    width: 600px;
    text-align: center;
}
.container2 tr .even {
    background: #777;
    width: 600px;
    text-align: center;
}
.latest-news .news {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.latest-news .news figure {
    width: calc(90% / 3);
    border: 1px solid black;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 0px #777;
}
.latest-news .news figure img {
    width: 300px;
    margin-left: 2px;
    padding: 5px;
}
.latest-news .news figure figcaption {
    padding: 5px;
}
.latest-news .news figure figcaption h5 {
    font-size: 20px;
}
.latest-news .news figure figcaption p {
    font-size: 15px;
    color: #777;
}
.photos {
    height: 50vh;
    background: yellow;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
.photos .img img {
    width: 500px;
}
.map iframe {
    width: 100%;
}
footer {
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
}